<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cz.muni.fi.umimecesky">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- for huge displays -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <activity
            android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TrainingActivity"
            android:label="@string/train_game_name"
            android:parentActivityName=".activity.ListCategoriesActivity"/>
        <activity
            android:name=".activity.ListCategoriesActivity"
            android:label="@string/train_game_name"
            android:parentActivityName=".activity.MainActivity"/>
        <activity
            android:name=".activity.RaceActivity"
            android:label="@string/race_game_name"
            android:parentActivityName=".activity.LevelRaceActivity"/>
        <activity
            android:name=".activity.LevelRaceActivity"
            android:label="@string/race_game_name"
            android:parentActivityName=".activity.MainActivity"/>
        <activity
            android:name=".ballgame.HoleGameActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"/>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".activity.MainActivity"/>
        <activity
            android:name=".flappygame.JumpGameActivity"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"/>

    </application>

</manifest>