<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto"
          package="cz.muni.fi.umimecesky">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- for huge displays -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <activity
            android:name="cz.muni.fi.umimecesky.game.mainmenu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".game.practise.TrainingActivity"
            android:label="@string/train_game_name"
            android:parentActivityName=".game.practise.ListCategoriesActivity"/>
        <activity
            android:name=".game.practise.ListCategoriesActivity"
            android:label="@string/train_game_name"
            android:parentActivityName="cz.muni.fi.umimecesky.game.mainmenu.MainActivity"/>
        <activity
            android:name=".game.robots.RaceActivity"
            android:label="@string/race_game_name"
            android:parentActivityName=".game.robots.LevelRaceActivity"/>
        <activity
            android:name=".game.robots.LevelRaceActivity"
            android:label="@string/race_game_name"
            android:parentActivityName="cz.muni.fi.umimecesky.game.mainmenu.MainActivity"/>
        <activity
            android:name="cz.muni.fi.umimecesky.game.ball.HoleGameActivity"
            android:parentActivityName="cz.muni.fi.umimecesky.game.mainmenu.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"/>
        <activity
            android:name="cz.muni.fi.umimecesky.game.mainmenu.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName="cz.muni.fi.umimecesky.game.mainmenu.MainActivity"/>
        <activity
            android:name="cz.muni.fi.umimecesky.game.flappy.FlappyListCategoriesActivity"
            android:screenOrientation="sensorLandscape"
            android:label="@string/flappy_game"
            android:parentActivityName="cz.muni.fi.umimecesky.game.mainmenu.MainActivity"/>
        <activity
            android:name="cz.muni.fi.umimecesky.game.flappy.JumpGameActivity"
            android:parentActivityName="cz.muni.fi.umimecesky.game.flappy.FlappyListCategoriesActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"/>

    </application>

</manifest>
